:root {
    --primary: #252525;
}

body>header .logo img {
    height: 2rem;
    width: auto;
    margin: 10px 10px 10px 10px;
    max-width: unset;
}

body>footer .footer-footer img {
    height: 1rem;
    width: auto;
}